# Postgres
POSTGRES_USER=pss
POSTGRES_PASSWORD=pss
POSTGRES_DB=pss
DATABASE_URL=postgresql://pss:pss@db:5432/pss

# KoraStats (replace the key!)
KORASTATS_API_KEY=WW91c3NlZnJhZ2FpOllvdXNzZWZyQGdAaQ==

# Backend & UI
BACKEND_URL=http://localhost:8000
APP_PORT=8000
STREAMLIT_PORT=8501
